<div style="background-color: #00FF00; text-align: center; padding: 2%;">
  <h1 style="font-weight: 900;">THANK YOU!!</h1>
  <h1 style="font-weight: 900;">Booking Confirmed</h1>
</div>

<br>

<div style="text-align: center;">
<h3 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Thank you for choosing us for your movie tickets. We appreciate your support and look forward to providing you with a memorable experience.</h3>
<div><h2>Tickets <b>{{seatCount.noOfSeatsBooked}}</b> generated . Thank you for booking with us! </h2></div>
Get back to more bookings with us <a href="/movies">home</a>
</div>


