

<body>
<div class="container">
  <mat-card class="forgot-password">
  <form #restValue = "ngForm" (ngSubmit) = "resetPasswords()">
    <mat-label style="font: 15px Poppins,sans-serif;font-weight: 900;">Forgot Password?</mat-label><br><br>

    <mat-label class="mat-lvl">Enter User Name</mat-label><br>
    <mat-form-field appearance="outline" class=".mat-lvl2">
      <mat-label>User Name</mat-label>
      <input matInput placeholder="username"
      [(ngModel)]="forgotLoginDetails.username" name="usernname"
      required minlength="4" appForbiddenName="bob">
    </mat-form-field>
    <br>


    <mat-label class="mat-lvl">Enter new password</mat-label>
    <mat-form-field appearance="outline" class=".mat-lvl2" >
      <mat-label>Password</mat-label>
      <input matInput placeholder="password" type="password"
      [(ngModel)]="forgotLoginDetails.password" name="password"
      required minlength="4" appForbiddenName="bob">
    </mat-form-field>
    <br>

    <mat-label class="mat-lvl">Enter Confrim password</mat-label>
    <mat-form-field appearance="outline" class=".mat-lvl2">
      <mat-label>Confrim password</mat-label>
      <input matInput placeholder="password" type="password"
      [(ngModel)]="forgotLoginDetails.confirmPassword" name="password"
      required minlength="4" appForbiddenName="bob">
    </mat-form-field>
    <br>


    <label class="mat-lvl">What is your favorite movie?</label>
    <mat-form-field appearance="outline" class=".mat-lvl2">
      <mat-label>Security Question</mat-label>
      <input matInput placeholder="answer"
      [(ngModel)]="answer" name="answer"
      required minlength="2" appForbiddenName="bob">
    </mat-form-field>

    <button type="submit" value="submit" class="btn btn-default">RESET PASSWORD</button><br>
    Remembered Password? Return to <a routerLink="/login" class="loginLink">login</a>

  </form>
</mat-card>
</div>
</body>

