.container{
    display: flex;
    padding: 40px;


}

.forgot-password{
    width: 50%;
    margin: auto;
    padding: 10%;
    border-radius: 10px;
    box-shadow: 0 8px 6px rgba(0.3, 0, 0, 0.3);
}

.mat-lvl{
    float: left;
}

.mat-lvl2{
    float: right;
}
body{
    background: url('../../assets/dontforget.jpg') no-repeat center center/cover;
    background-size: contain;

}

@media only screen and (max-width:850px){
  body{
    background: none;
}
}
